.pill{
    display: inline-flex;
    height: 28px;
    padding: 4px var(--space-medium);
    border: 1px solid var(--color-dark-gray);
    color: var(--color-dark-gray);
    border-radius: 20px;
}

@media screen and (min-width: 1200px){
    .pill{
        height: 40px;
        padding: var(--space-small) var(--space-medium);
    }
}