#tech{
    background-color: var(--color-peach-faded);
    padding: var(--space-large) var(--space-medium);
}

#tech h2{
    margin-bottom: var(--space-medium);
}

#tech .content{
    display: flex;
    flex-direction: column;
    gap: var(--space-large);
}

#tech .content .description p{
    color: var(--color-dark-gray);
}

#tech .tech-list{
    display: flex;
    flex-wrap: wrap;
}

#tech .tech-list .tech-item{
    display: flex;
    flex-direction: column;
    width: 105px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-large);
}

#tech .tech-list .tech-item img{
    height: 55px;
}

@media screen and (min-width: 1200px){
    #tech{
        padding: 100px 200px;
    }
    #tech .content{
        flex-direction: row;
        gap: 10%;
    }
    #tech .content .description{
        width: 30%;
    }
    #tech .content .tech-list{
        width: 50%;
        gap: 40px;
    }
}

